<a href="https://colab.research.google.com/github/blessyebbie/Assignment-2--Python/blob/master/Assignment_ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ASSIGNMENT 1

In [ ]:
# 1. Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.
Q1=[]
for i in range(2000,3200):
    if(i%7==0) and (i%5==0):
        Q1.append(str(i))

In [ ]:
print (','.join(Q1))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [ ]:
# 2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

first_name=input("input first name : ")
last_name=input("input last name : ")

input first name : Blessy
input last name : Ebenezer

In [ ]:
print(last_name+ " " + first_name)

Ebenezer Blessy

In [ ]:
# 3. Write a Python program to find the volume of a sphere with diameter 12 cm.Formula: V=4/3 * Ï€ * r
pie = 3.1415926535897931
r= 6
vol= 4/3*pie* r**3

In [ ]:
print('The volume of the sphere is:',vol)

The volume of the sphere is: 904.7786842338603